#listShoppingCart{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    height: 190vh;
    overflow: auto;
}

#listShoppingCart > p{
    font-size: 1rem;
    height: 190vh;
    line-height: 190vh;
    margin: auto;
}

div .card{
    margin: 0.6em;
}